streamlit
langchain
langchain-core
langgraph
langchain-google-genai
google-generativeai
pydantic
numpy
pillow
opencv-python-headless
rasterio
scipy
matplotlib
requests
tensorflow==2.14.0
torch
pathlib
mimetypes
typing